<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thomas Net</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
    <div class="top-bar container-padding">
        <div class="row">
            <span class="col-sm-10 col-xs-12 pull-left">
            	<div class="top-bar-content">
			        <ul class="user-menu">
				        <li><a href="#">Contact Us</a></li>
				        <li><a href="#">Check Order</a></li>
				        <li><a href="#">Change Region</a></li>     
			        </ul>            		
            	</div>
	        </span>
            <span class="col-sm-2 col-xs-12 pull-right">
	            <div class="top-bar-content">
	            	<input id="index-search" placeholder="Search" type="" name="">
	            </div>
    		</span>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-static-top container-padding">
        <div class="navbar-header">
            <a href="#" class="logo pull-left"><img src="/img/logo-exmpl.png" class="site_logo" alt=""></a>
        </div>
        <div id="navbar">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a href="#">About</a></li>
                <li class="nav-item"><a href="#">Catalog</a></li>
                <li class="nav-item"><a href="#">Industries</a></li>
                <li class="nav-item"><a href="#">Capabilities</a></li>
                <li class="nav-item"><a href="#">Blog</a></li>
                <li class="dropdown-icon"><a href="javascript:void(0)">&#9776;</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <section class="hero container-padding">
            <div class="row">
                <div class="col-sm-6 col-xs-12 hero-content">
                    <h1>Manufacturer of Some</h1>
                    <h1>Industrial Product</h1>
                    <p>Serving Industries Worldwide</p>
                    <span>View our Capabilities</span>
                    <span>Contact our Experts</span>
                </div>
                <div class="col-sm-6 col-xs-12 hero-product-img">
                    <img class="img-responsive" src="/img/img-product.png">
                </div>
            </div>
        </section>
        <section class="container-padding tabbed-container">
            <div class="row">
                <div class="tabbed-content col-xs-12">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#product">Products</a></li>
                        <li><a data-toggle="tab" href="#industries">Industries/Appliance</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="product" class="tab-pane fade in active">
                            <div id="carousel-outer">
								<div class="carousel ">
									<div class="owl-carousel owl-theme row">
                                        <div class="item">
                                            <div class="circles">
                                                <div class="circle-with-img">
                                                     <img src="/img/ico-bulb.png" >
                                                </div>   
                                                <span >Product 1</span>                                                    
                                           </div>                                         
                                        </div>
                                        <div class="item">
                                            <div class="circles">
                                                <div class="circle-with-img">
                                                     <img src="/img/ico-bulb.png" >
                                                </div>   
                                                <span >Product 2</span>                                                    
                                           </div>                                         
                                        </div> 
                                        <div class="item">
                                            <div class="circles">
                                                <div class="circle-with-img">
                                                     <img src="/img/ico-bulb.png" >
                                                </div>   
                                                <span >Product 3</span>                                                    
                                           </div>                                         
                                        </div> 
                                        <div class="item">
                                            <div class="circles">
                                                <div class="circle-with-img">
                                                     <img src="/img/ico-bulb.png" >
                                                </div>   
                                                <span >Product 4</span>                                                    
                                           </div>                                         
                                        </div> 
                                        <div class="item">
                                            <div class="circles">
                                                <div class="circle-with-img">
                                                     <img src="/img/ico-bulb.png" >
                                                </div>   
                                                <span >Product 5</span>                                                    
                                           </div>                                         
                                        </div>   
                                         <div class="item">
                                            <div class="circles">
                                                <div class="circle-with-img">
                                                     <img src="/img/ico-bulb.png" >
                                                </div>   
                                                <span >Product 6</span>                                                    
                                           </div>                                         
                                        </div>
                                        <div class="item">
                                            <div class="circles">
                                                <div class="circle-with-img">
                                                     <img src="/img/ico-bulb.png" >
                                                </div>   
                                                <span >Product 7</span>                                                    
                                           </div>                                         
                                        </div>
                                        <div class="item">
                                            <div class="circles">
                                                <div class="circle-with-img">
                                                     <img src="/img/ico-bulb.png" >
                                                </div>   
                                                <span >Product 8</span>                                                    
                                           </div>                                         
                                        </div>
                                    </div>
								</div>
                            </div>
                            <div class="owl-controls">
                                <div class="owl-nav">
                                    <div class="owl-prev"></div>
                                    <div class="owl-next"></div>
                                </div>
                            </div>
                        </div>
                        <div id="industries" class="tab-pane fade">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="newsletter container-padding">
            <div class="row">
                <div class="col-sm-6 newsletter-content">
                    <h1>Generic Newsletter:</h1>
                    <p>Join our newsletter on the latest updates.</p>
                    <form class="newsletter-form">
                        <div class="input-wrapper" id="name-input-wrapper">
                            <input type="text" placeholder="Full Name" name="name" />
                            <label for="name"><span class="ast">*</span></label>
                        </div>
                        <div class="input-wrapper" id="email-input-wrapper">
                            <input type="email" placeholder="Email Address" name="email" />
                            <label for="email"><span class="ast">*</span></label>
                        </div>
                        <input type="submit" name="submit">
                    </form>
                </div>
            </div>
        </section>
        <section class="container-padding">
            <div class="row">
                <div class="header col-xs-12">
                    <h1 class="text-center">Premier Global Provider of Industrial Solutions</h1> 
                </div>

                <div class="row header-content">
                    <p>Lorem ipsum  dolor sit amet, consectetur adipiscing elit. Curabitur id tincidunt erat. Cras vehicula ut augue a commodo. Aliquam lacinia urna eu venenatis. Mauris ultrices hendrerit enim, sed interdum quam dignissin nec.</p>
                    <div class=" col-xs-12 col-sm-4 stats-wrapper hide-wrapper">
                        <div class="circles">
                          <div class="circle-with-text">
                            <span class="cricle-number">480</span>
                            <span class="circle-plus">+</span>
                          </div>
                        </div>
                        <h3>million kilometers of something</h3>
                    </div>
                    <div class=" col-xs-12  col-sm-4 stats-wrapper hide-wrapper">
                        <div class="circles">
                          <div class="circle-with-text">
                            <span class="cricle-number">500</span>
                            <span class="circle-plus">+</span>
                          </div>
                        </div>
                         <h3>fancy patents filed</h3>
                    </div>
                    <div class=" col-xs-12  col-sm-4 stats-wrapper hide-wrapper">
                        <div class="circles">
                          <div class="circle-with-text">
                            <span class="cricle-number">200</span>
                          </div>
                        </div>
                         <h3>factories throughout the world</h3>
                    </div>
                </div>                    
            </div>
        </section>
    </main>
    <footer>
        <section class="contact-info container-padding">
            <div class="row">
                <div class="col-sm-4 col-xs-12 footer-item">
                    <h4>Contact Us</h4>
                    <div class="contact-info-content">
                        <address>
                            Headquarters:<br>
                            20 South Expressway<br>
                            NY 10001 USA<br><br>

                            888.333.3333<br>
                            770.999.5555 [Outside the US and Canada]<br>
                            Global Locations >>
                        </address>
                    </div>
                </div>
                <div class="col-sm-4 footer-item">
                    <h4>Connect with Us</h4>
                    <div class="contact-info-content">
                        <ul class="footer-contact-group">
                            <li><a href="#">Press Releases</a></li>
                            <li><a href="#">Tradeshow Calendar</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 footer-item">
                    <h4>Links</h4>
                    <div class="contact-info-content">
                        <ul class="footer-contact-group">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Catalog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="container-padding footer-bottom">
            <p>&#169; 2017 Generic Company LLC. All Rights Reserved | Site created by Thomas Marketing</p>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/lodash/4.6.1/lodash.min.js"></script>
    <script src="/js/owl.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/navbar.js"></script>
    <script type="text/javascript" src="/js/stats-scroll.js"></script>
    
</body>

</html>